/* Style for the form container */


.job-details-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #007bff;
    border-radius: 5px;
  }
  .job-details-form:hover {
    background-color: #eef1f4;
  }
  
  /* Style for form labels */
  .form-group label {
    font-weight: bold;
  }
  
  /* Style for input fields */
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
  }
  
  button {
    background-color: #007bff;
    color: #ffffff;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 15px;
    
    display: block; /* Make the button a block-level element */
    margin: 0 auto; /* Center horizontally */
    
  }
  
  button:hover {
    background-color: #0056b3;
  }
  