
<title>My Professional Homepage</title>

<nav class="navbar">
    <div class="container">
      <a class="navbar-brand" href="">Job Portal</a>
      <ul class="nav">
        <li class="nav-item"><a href="#" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Jobs</a></li>
        <li class="nav-item"><a href="#" class="nav-link">About</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Contact</a></li>
      </ul>
      <div class="icons">
        <span class="notification-icon">🔔</span>
        <span class="profile-icon">👤</span>
      </div>
      <button class="navbar-toggler">&#9776;</button>
    </div>
</nav>

<div class="copy">
    <div class="content">
        <div class="text">
          <h1>Find a better work <br> <br> in your way</h1>
            <p>Right Connections and Right Employee.</p>
            <button class="get-started-btn" (click)="nav_to_register()">Get Started</button>
        </div>
        <div class="image">
            <img src="../assets/img/d.jpg" alt="Image description">
        </div>
    </div>
</div>

<footer>
    <p>&copy; 2024 My Company. All rights reserved.</p>
</footer>