html,
body,
div,
ul,
li,
h1,
h2,


input,
button {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}


/* Global styles */
body {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  line-height: 1.6;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Navbar styles */
.navbar {
  background-color: #007bff;
  color: #fff;
  padding: 10px 0;
  margin-bottom: 10px;
}

.navbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}

.nav {
  list-style: none;
  display: flex;
}

.nav-item {
  margin-right: 20px;
}

.nav-link {
  text-decoration: none;
  color: #fff;
}

.navbar-toggler {
  display: none;
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
}

.icons {
  display: flex;
  align-items: center;
}

.notification-icon,
.profile-icon {
  font-size: 1.5rem;
  margin-left: 20px;
  cursor: pointer;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .container {
    padding: 10px;
  }
  .nav {
    display: none;
    flex-direction: column;
  }
  .nav-item {
    margin-right: 0;
    margin-bottom: 1px;
  }
  .navbar-toggler {
    display: block;
  }

}


.container {
  text-align: left;
  
}




.content {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  
  
}


.text {
  flex: 1;
  padding: 20px;
  text-align:left;
  
  
  /* font-size: 70px; */
}

.text h1 {
  font-family:'Times New Roman', Times, serif;
  font-size: 60px; /* Adjust the font size for the paragraph */
  margin-bottom: 20px;
}

.text p {
  font-size: 22px; /* Adjust the font size for the heading */
  font-family:'Times New Roman', Times, serif;
}

.image {
  position: relative; /* Positioning context for the pseudo-element */
}

.image::before {
  content: ''; /* Required for the pseudo-element */
  position: absolute; /* Position the rectangle relative to its parent */
  
   /* Border color for the rectangle */
  box-sizing: 2px; /* Ensure the border is included in the width and height */
}







.get-started-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 40px;
  font-size: 32px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  
}

.get-started-btn:hover {
  background-color: #0056b3;
}




footer {
  background-color: #007bff;
  color: #ffffff;
  text-align: center;
  padding: 20px;
  position: fixed;
  bottom: 0;  
  width: 100%;
}