

/* Center the form container */
form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  /* Style form labels */
  label {
    font-weight: bold;
  }
  
  /* Style input fields */
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
   button {
    background-color: #007bff;
    color: #ffffff;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 15px;
    
    display: block; /* Make the button a block-level element */
    margin: 0 auto; /* Center horizontally */
    
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  /* Style the error message */
  .error-message {
    color: red;
    font-size: 14px;
  }
  
/* Style the link for registration */
p {
    text-align: center; /* Center align the paragraph */
    font-size: 12px;
  }
  
  p a {
    color: #007bff;
    text-decoration: none;
  }
  
  /* Add hover effect to the link */
  p a:hover {
    text-decoration: underline;
  }
  
  